body{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    margin: 0; 
}
body::-webkit-scrollbar{
    width: 12.5px;
    background: #593e1b;
}
body::-webkit-scrollbar-thumb{
    background-color: #d17300;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 7px 3px rgba(32, 32, 32, 0.909);
}
body::-webkit-tap-highlight{
    color: none;
}
.start_container{
    height: 100%;
    width: 100%;
    position: static;
}
.top_image_container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 177%;
    z-index: 0;
    background-color: black;
}
.top_image_container img{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.start_Container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 165%;
    z-index: 1;
    background: linear-gradient(rgba(1, 1, 1, 0.729), 
    rgba(0, 0, 0, 0.448), rgba(85, 85, 85, 0.078), rgba(73, 72, 72, 0.193));
}
.header_top_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2.575% 0 1.686% 0;
}
.call_phone_contact{
    display: flex;
    flex-direction: row;
    margin: 0 14% 0 7.5%;
    width: 20%;
}
.call_phone_contact img{
    height: 58%;
    width: 20%;
    margin-top: 14%;
}
.text_rowl_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 52.5%;
    width: 61.5%;
    margin-left: 3%;
    margin-top: 14.55%;
}
.text_rowl_contact h6{
    margin: 0 0 0 0;
    color: #ffffff;
    font-size: 1.85vh;
    letter-spacing: 0.231vh; 
    font-family: 'Poppins', sans-serif;
}
.text_rowl_contact h5{
    margin: 5% 0 0 0;
    color: #ffffff;
    font-size: 2.54vh;
    letter-spacing: 0.2vh;
    word-spacing: 0.2vh;
    font-family: 'Poppins', sans-serif;
}
.logo_start{
    width: 10.08154%;
    height: 100%;
    margin: 0 0 0 3.75%;
}
.logo_start img{
    width: 100%;
    height: 100%;
}
.divider_one_container{
    border-top: 1px solid #cfcfcf57;
    width: 100%;
    height: 1%;
    background-color: #00000028;
}
.nav_container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.079);
}
.sotial_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12.5%;
    height: 72.5%;
    margin: 0 10% 0 7%;
}
.fb{
    height: 20.9495%;
    width: 4.749%;
}
.ig{
    height: 20.9495%;
    width: 10.582%;
}
.you{
    height: 18.2895%;
    width: 11.4882%;
}
.sea{
    height: 18.2895%;
    width: 7.70919%;
}
.navigator{
    width: 31%;
    margin: 0 15.345% 0 4.675%;
}
.navigator nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}
.navigator nav h5{
    font-family: 'Poppins', sans-serif;
    height: 60%;
}
.build_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
}
.boton_build{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52%;
    width: 100%;
}
.boton_build a{
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.subtitle_container{
    display: flex;
    justify-content: center;
    margin-top: 4.45%;
}
.subtitle_container p{
    font-family: 'Poppins', sans-serif;
}
.title_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_container p{
    align-self: center;
    justify-self: center;
    font-family: 'Marcellus', serif;
}
.view_more_products_container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.view_more_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 270%;
    width: 17%;
}
.view_more_boton a{
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.carousel_container{
    display: flex;
    justify-content: center;
    margin-top: 1.25%;
}
.carousel_container a{
    color: #ff9002;
    font-size: 15vh;
    text-decoration: none;
}
.info_certs_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150%;
    margin: 6.75% 0 0 0;    
    background-color: rgba(0, 0, 0, 0.111);
}
.info_certs_first{
    display: flex;
    align-items: center;
    margin-left: 17%;
    width: 20%;
    height: 69.5%;
}
.info_certs_first img{
    height: 25%;
    width: 11.5%;
}
.info_certs_second{
    display: flex;
    align-items: center;
    width: 20%;
    height: 69.5%;
}
.info_certs_second img{
    height: 29%;
    width: 9.25%;
}
.info_certs_third{
    display: flex;
    align-items: center;
    width: 20%;
    height: 69.5%;
}
.info_certs_third img{
    height: 25.5%;
    width: 11%;
}
.info_certs_last{
    display: flex;
    align-items: center;
    margin-right: 15.25%;
    width: 15.5%;
    height: 69.5%;
}
.info_certs_last img{
    height: 22.25%;
    width: 17%;
}
.info_certs_container div p{
    color: #ffffff;
    margin-left: 4%;
    letter-spacing: 0.319vh;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}
.about_Container{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 72.15%;
    z-index: 2;
}
.background_image_about{
    height: 180%;
    width: 100%;
    z-index: 2;
}
.background_image_about img{
    height: 100%;
    width: 100%;
    z-index: 2;
}
.about_history_Container{
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about_container{
    display: flex;
    flex-direction: column;
    width: 43%;
    margin-left: 5%;
}
.subtitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3.3060037%;
}
.subtitle p{
    color: #ff9002;
    font-size: 2.56vh;
    font-family: 'Poppins', sans-serif;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 24.699425%;
    margin-top: 3.25%;
}
.title p{
    font-family: 'Marcellus', serif;
    font-size: 8vh;
}
.img_about{
    width: 100%;
    height: 44.2079%;
    margin-top: 10%;
}
.img_about img{
    width: 100%;
    height: 100%;
}
.help_phone{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75%;
    left: 15%;
    width: 30%;
    height: 15.5%;
    box-shadow: 4px 7px 15px 3px #00000096;
    background-color: #ffffff;
}
.help_phone h6{
    font-size: 2.95vh;
    font-family: 'Marcellus', serif;
    color: #212121;
    letter-spacing: 0.15vh;
    word-spacing: 0.3vh;
    margin: 2.35% 0 0 0;
}
.help_phone h4{
    font-size: 7vh;
    color: #ff9002;
    margin: 3.75% 0 0 0;
}
.paragraph_about_container{
    width: 42.5%;
}
.paragraph1 p{
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2vh;
    line-height: 4.79vh;
    color: #808080;
    margin: 9.45% 0 0 0;
}
.paragraph2 ul{
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2vh;
    color: #808080;
    margin: 9.45% 0 0 0;
}
.paragraph2 ul.ul{
    list-style-position: outside;
}
.paragraph2 ul li::marker{
    color: orange;
    list-style-type: circle;
    font-size: 1.2em;
}
.read_more{
    margin: 15% 0 0 0;
    width: 100%;
    height: 10%;
}
.make_your_order_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9002;
    width: 27.5%;
    height: 60%;
    margin-left: 7.5%;
}
.make_your_order_boton a{
    color: #ffffff;
    font-size: 2.549vh;
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.for_us_content{
    position: absolute;
    margin-top: 139.5%;
    width: 100%;
    height: 100%;
}
.background_image_Us{
    width: 100%;
    height: 170%;
    z-index: 0;
}
.background_image_Us img{
    width: 100%;
    height: 100%;
}
.info_us_Container{
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.subtitle_us_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}
.subtitle_us_container h5{
    color: #ff9002;
    font-size: 2.56vh;
    font-family: 'Poppins', sans-serif;
}
.title_us_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30.3060037%;
    z-index: 1;
}
.title_us_container h1{
    font-family: 'Marcellus', serif;
    font-size: 8vh;
    justify-content: center;
    align-self: center;
    color: #ffffff;
    height: 10%;
    margin: 1% 0 1% 0;
}
.showerdeslize_forus_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1.75%;
    z-index: 1;
}
.showerdeslize_forus_container img{
    height: 86%;
    width: 8.82134915%;
}
.context_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.75%;
    z-index: 1;
}
.context_info_container p{
    font-size: 2.6vh;
    color: #ffffff;
    margin: 1% 0 1% 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.153vh;
}
.view_more_boton_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.75%;
    z-index: 1;
}
.view_more_botoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9002;
    width: 11.6871757%;
    height: 252.75%;
    z-index: 1;
}
.view_more_botoncontainer a{
    color: #ffffff;
    font-size: 2.549vh;
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.products_and_gallery_container{
    position: absolute;
    margin-top: 198%;
    width: 100%;
    z-index: 1;
    height: 200%;
}
.background_image_products{
    width: 100%;
    height: 200%;
    z-index: 1;
}
.background_image_products img{
    width: 100%;
    height: 100%;
}
.info_products_andgallery_Content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 11%;
}
.gallery_Container_content_from{
    width: 100%;
    height: 100%;
    position: static;
}
.background_image_content_from_products{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.background_image_content_from_products img{
    width: 100%;
    height: 100%;
}
.text_content_products_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
}
.subtitle_products_content{
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.subtitle_products_content h5{
    color: #ff9002;
    font-size: 2.56vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: 0.29vh;
    word-spacing: 0.12em;
}
.title_products_content{
    height: 8.2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title_products_content h6{
    font-family: 'Marcellus', serif;
    height: 45%;
    font-size: 7.3vh;
    margin: 0;
}
.showerdeslize_products_content{
    height: 8.75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.9% 0 3.9% 0;
}
.showerdeslize_products_content img{
    width: 8.8214%;
    height: 100%;
}
.top_recipes_container{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 3.7% 0 5.25% 0;
}
.food_top_recites_one{
    width: 23.75%;
    height: 100%;
    margin: 0 15% 0 10.5%;
}
.food_top_recites_one h5{
    font-size: 3.82vh;
    font-family: 'Marcellus', serif;
    color: #000000;
    margin-bottom: 1%;
}
.food_top_recites_one h6{
    font-size: 2.47vh;
    font-family: 'Marcellus', serif;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
.food_top_recites_one p{
    color: #808080;
    font-family: 'Poppins', sans-serif;
    font-size: 2.33vh;
    letter-spacing: 0.03vh;
}
.food_top_recites_two{
    width: 23.75%;
    height: 100%;
    margin: 0 0 0 20%;
}
.food_top_recites_two h5{
    font-size: 3.82vh;
    font-family: 'Marcellus', serif;
    color: #000000;
    margin-bottom: 1%;
}
.food_top_recites_two h6{
    font-size: 2.47vh;
    font-family: 'Marcellus', serif;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
.food_top_recites_two p{
    color: #808080;
    font-family: 'Poppins', sans-serif;
    font-size: 2.33vh;
    letter-spacing: 0.03vh;
}
.view_more_products{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.viewer_boton_products{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.6871757%;
    height: 20.1328%;
    background-color: #ff9002;
    margin-top: 2.5%;
}
.viewer_boton_products a {
    color: #ffffff;
    font-size: 2.549vh;
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.gallery_Container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1.33524719%;
    grid-row-gap: 2.51683885%;
    position: absolute;
    width: 88.5%;
    height: 66.75%;
    top: 100%;
    margin-top: 2.25%;
    margin-left: 7%;
}
.first_gallery_container{
    grid-area: 1 / 1 / 3 / 5;
}
.first_gallery_container img{
    height: 100%;
    width: 100%;
}
.self_info_gallery_container{
    grid-area: 1 / 5 / 3 / 8;
}
.subtitle_info_gallery{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 6.5%;
}
.subtitle_info_gallery h6{
    font-size: 2.35vh;
    font-family: 'Poppins', sans-serif;
    color: #ff9002;
    margin: 0;
    letter-spacing: 0.29vh;
    word-spacing: 0.12em;
}
.title_info_gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
    width: 100%;
    height: 30%;
}
.title_info_gallery h2{
    display: flex;
    justify-content: center;
    font-family: 'Marcellus', serif;
    font-size: 8vh;
    margin: 0;
    width: 100%;
    height: 50%;
    letter-spacing: 0.25vh;
}
.showerdeslize_gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-top: 9%;
}
.showerdeslize_gallery img{
    height: 100%;
    width: 27.9298814%;
}
.text_info_gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.text_info_gallery p{
    font-family: 'Poppins', sans-serif;
    color: #808080;
    font-size: 3.3vh;
    margin: 0;
}
.view_more_boton_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;    
}
.view_more_bottonn_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.7%;
    height: 76.6947723%;
    background-color: #ff9002;
}
.view_more_bottonn_gallery a{    
    color: #ffffff;
    font-size: 2.549vh;
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.second_gallery_container{
    grid-area: 1 / 8 / 3 / 10; 
}
.second_gallery_container img{
    height: 100%;
    width: 100%;
}
.third_gallery_container{
    grid-area: 3 / 1 / 5 / 3;
}
.third_gallery_container img{
    height: 100%;
    width: 100%;
}
.fourth_gallery_container{
    grid-area: 3 / 3 / 5 / 5;
}
.fourth_gallery_container img{
    height: 100%;
    width: 100%;
}
.fiveth_gallery_container{
    grid-area: 3 / 5 / 5 / 10; 
}
.fiveth_gallery_container img{
    height: 100%;
    width: 100%;
}
.testimones_from_Content{
    position: absolute;
    margin-top: 371.25%;
    height: 100%;
    width: 100%;
}
.background_img_testimones{
    width: 100%;
    height: 179.75%;
    z-index: 0;
}
.background_img_testimones img{
    position: relative;
    width: 100%;
    height: 100%;
}
.info_testimones_Container{
    position: absolute;
    top: 0;
    margin-top: 12.5%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.subtitle_testimones_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 5.25%;
    margin-bottom: 1.195%;
}
.subtitle_testimones_container h5{
    color: #ff9002;
    font-size: 2.56vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: 0.29vh;
    word-spacing: 0.12em;
}
.title_testimones_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
}
.title_testimones_container h4{
    font-size: 8.5vh;
    font-family: 'Marcellus', serif;
    color: #ffffff;
    letter-spacing: 0.7vh;
    word-spacing: 0.09vh;
    margin: 0;
}
.showerdeslize_testimones_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.25%;
}
.showerdeslize_testimones_container img{
    height: 100%;
    width: 8.82134915%;
}
.bould_testimones_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 76.75%;
    margin-top: 2%;
}
.paragraph{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin: 0 0 0 10%;
}
.paragraph img{
    align-self: flex-start;
    justify-self: flex-start;
    width: 17.9766119%;
    height: 15.6440863%;
}
.paragraph p{
    font-size: 3.85vh;
    font-family: 'Marcellus', serif;
    letter-spacing: 0.1vh;
    word-spacing: 0.09vh;
    color: #ffffff;
    width: 95%;
    height: 44.5758738%;
    margin: 4.5% 0 1.5% 0;
}
.paragraph h4{
    font-size: 4vh;
    font-family: 'Marcellus', serif;
    letter-spacing: 0.35vh;
    word-spacing: 0.09vh;
    width: 100%;
    height: 5%;
    color: #ff9002;
    margin: 5.5% 0 1.5% 0;
}
.paragraph h5{
    font-size: 3.5vh;
    font-family: 'Marcellus', serif;
    letter-spacing: 0.35vh;
    word-spacing: 0.09vh;
    width: 100%;
    height: 5%;
    color: #ffffff;
    margin: 1.75% 0 1.5% 0;
}
.imgchef_container{
    margin-left: 5%;
    height: 100%;
    width: 40%;
}
.imgchef_container img{
    width: 96.58%;
    height: 99.8%;
}
.carousel_testimones_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
.carousel_testimones_container p{
    font-size: 20.5vh;
    color: #ff9002;
}
.more_about{
    position: absolute;
    margin-top: 447.5%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.background_image_more_about{
    width: 100%;
    height: 175%;
    z-index: 1;
}
.background_image_more_about img{
    position: relative;
    width: 100%;
    height: 100%;
}
.incontext_about_Container{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12.5%;
    margin-left: 10%;
    width: 90.75%;
    height: 112.5%;
    z-index: 2;
}
.contact_about_Container{
    height: 100%;
    width: 42.75%;
    margin-right: 8.5%;
    box-shadow: 4px 0 18px 2.85px #2c2c2c7e;
}
.background_self_conntact{
    display: flex;
    justify-content: flex-end;
    top: 0;
    height: 100%;
    width: 100%;
}
.background_self_conntact img{
    height: 100%;
    width: 41.7080821%;
}
.flow_contact{
    position: absolute;
    top: 0;
    height: 100%;    
    width: 42.75%;
}
.subtitle_about_container{ 
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.25%;
    margin-top: 9.85%;
    margin-bottom: 5.1%;
}
.subtitle_about_container h6{
    color: #ff9002;
    font-size: 2.26vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.22vh;
    word-spacing: 0.05em;
    margin: 0 0 0 18.5%;
}
.title_about_container{ 
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.25%;
    margin-bottom: 1.195%;
}
.title_about_container h5{
    color: #000000;
    font-size: 7.5vh;
    font-family: 'Marcellus', serif;
    letter-spacing: 0.05vh;
    margin: 0 0 0 8.95%;
}
.showerdeslize_about_container{    
    display: flex;
    align-items: center;
    height: 6.43274854%;
    width: 100%;
    margin: 10.75% 0 4.5% 0;
}
.showerdeslize_about_container img{    
    height: 100%;
    width: 21.5075968%;
    margin-left: 24%;
}
.name_about_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.5%;
    margin-top: 9.15%;
}
.name_from{
    height: 59.5%;
    width: 63%;
    border: 1px solid #ff9002;
    outline: none;
    margin-left: 3.5%;
}
.mail_soth_about_container{
    width: 100%;
    height: 8.5%;
    margin-top: 2.25%;
}
.mail_from{
    height: 59.5%;
    width: 29.25%;
    border: 1px solid #ff9002;
    outline: none;
    margin-left: 3.5%;
}
.soth_from{
    height: 59.5%;
    width: 29.25%;
    border: 1px solid #ff9002;
    outline: none;
    margin-left: 2.75%;
}
.textarea_about_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20.9459459%; 
}
.textarea_about_container textarea{
    height: 88.75%;
    width: 63%;
    border: 1px solid #ff9102c9;
    resize: none;
    outline: none;
    margin-left: 3.5%;
}
.boton_about_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
}
.boton_about_toform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61.5%;
    width: 63.5%;
    background-color: #ff9002;
    margin-left: 3.5%;
}
.boton_about_toform a{
    color: #ffffff;
    font-size: 2.549vh;
    letter-spacing: 0.22vh;
    text-decoration: none;
}
.images_background{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48.75%;
}
.image_1contact{
    align-self: center;
    justify-self: flex-start;
    width: 69.5375335%;
    height: 49.2690058%;
}
.image_2contact{
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    height: 50.7309942%;
}
.footer_container{
    position: absolute;
    margin-top: 517.5%;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.background_image_footer{
    width: 100%;
    height: 144%;
    z-index: 0;
}
.background_image_footer img{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer_Content{
    position: absolute;
    top: 22.5%;
    width: 100%;
    height: 100%;
}
.logo_footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14.6381579%;
}
.logo_footer_container img{
    width: 10.0443131%;
    height: 97.2890249%;
}
.footer_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    height: 52.5133224%;
    margin-top: 6%;
    margin-bottom: 4.5%;
    margin-left: 7%;
}
.separator_footer{
    display: flex;
    align-items: center;
    width: 0.110961773%;
    height: 100%;
}
.separator_footer img{
    width: 100%;
    height: 92.15%;
}
.contact_footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.2454905%;
    height: 100%;
}
.cocoe_footer{
    width: 33.8269551%;
    height: 21.4465261%;
}
.contact_footer_container h5{
    font-family: 'Marcellus', serif;
    font-size: 2.41vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
}
.contact_footer_container img{
    margin-bottom: 3%;
}
.pvisit1{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
    margin: 7.5% 0 2% 0; 
}
.pvisit2{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh; 
    margin: 7.5% 0 2% 0; 
}
.pvisit3{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh; 
    margin: 7.5% 0 2% 0; 
}
.time_footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.2454905%;
    height: 100%;
}
.clock_footer{
    width: 33.2778702%;
    height: 15.7489024%;
}
.time_footer_container h5{
    font-family: 'Marcellus', serif;
    font-size: 2.41vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
}
.time_footer_container img{
    margin-bottom: 3%;
}
.ptime1{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
    margin: 16.5% 0 2% 0;
}
.ptime2{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
    margin: 4.5% 0 2% 0;
}
.service_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.2454905%;
    height: 100%;    
}
.people_footer{
    width: 41.0371603%;
    height: 22.1168348%;
}
.service_container h5{
    font-family: 'Marcellus', serif;
    font-size: 2.41vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
}
.service_container img{
    margin-bottom: 3%;
}
.pservice1{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
    margin: 7.5% 0 2% 0;
}
.pservice2{
    font-family: 'Marcellus', serif;
    font-size: 2.0351vh;
    color: #ffffff;
    letter-spacing: 0.2vh;
    word-spacing: 0.19vh;
    margin: 4.5% 0 2% 0;
}
.showerdeslize_footer{
    width: 37.0011093%;
    height: 7.8467909%;
}
.sotial_footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15.25%;
    height: 7.44243421%;
    margin-left: 42.5%;
}
.sotial_footer_container img{
    width: 22%;
}
.flown_footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 77.5%;
    height: 12.9424342%;
    margin-left: 11.35%;
}
.flown_footer_container h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    font-weight: lighter;
    letter-spacing: 0.25vh;
    word-spacing: 0.1vh;
    color:  #ffffff;
    cursor: pointer;
}
.flown_footer_container h4{
    font-family: 'Poppins', sans-serif;
    font-size: 3.15vh;
    font-weight: lighter;
    color:  #ffffff;
}