@media(max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .start_container{
        position: static;
        width: 100%;
        height: 100%;
    }
    .top_image_container{
        width: 100%;
        height: 75%;
    }
    .top_image_container img{
        width: 100%;
        height: 100%;
    }
    .header_top_container{
        width: 100%;
        height: 14.04824242%;
    }
    .call_phone_contact,
    .call_phone_contact img,
    .text_rowl_contact,
    .text_rowl_contact h6,
    .text_rowl_contact h5{
        width: 0;
        height: 0;
    }
    .text_rowl_contact h6,
    .text_rowl_contact h5{
        font-size: 0vh;
    }
    .logo_start{
        height: 100%;
        width: 16.08154%;
        margin: 0 0 0 22.25%;
    }
    .hamburger_tock{
        height: 100%;
        width: 11.355%;
        margin: 0 0 0 5%;
    }
    .divider_one_container{
        border-top: 1.35px solid #cfcfcf57;
        width: 100%;
        height: 1%;
        background-color: #00000028;
    }
    .nav_container,
    .sotial_container,
    .navigator,
    .navigator nav,
    .navigator nav h5,
    .build_boton,
    .boton_build,
    .fb,.ig,.you,.sea{
        height: 0%;
        width: 0%;
    }
    .navigator nav h5,
    .boton_build{
        font-size: 0vh;
    }
}