.gallery{position: absolute; top: 69.45%; width: 100%; height: 100%; z-index: 1; }
.background{ width: 100%; height: 345%; z-index: 1; }
.background img{ width: 100%; height: 100%; }
.grid{ position: absolute; top: 50%; width: 90%; left: 5%;}
.grid div img{ cursor: pointer; }
.footer_container{ top: 358%; z-index: 0;}
.scrollUp{position: fixed; right: 1%; z-index: 8; bottom: 2%; cursor: pointer; width: 2.25%; height: 5%;}
.scrollUp:hover{background-color: #ff8c00; border: 1px solid #ff8c00;}
.scrollUp path{color: #ff8c00; width: 100%; height: 100%;}
.scrollUp path:hover{ color: white; }