body{background-color: rgb(50, 28, 0); }
.productContainer{position: absolute; width: 100%; top: 69.45%; z-index: 1;}
.background{width: 100%; z-index: 1;}
.background img{width: 100%; z-index: 1;}
.Container{width: 100%; min-width: 100%; position: absolute; top: 12%;}
.product-info{display: flex; justify-content: center;}
.card-Body{display: flex; justify-content: space-between; width: 100%; padding-left: 0; padding-right: 0;}
#selferPics{width: 35%;}
.card-Body img{width: 22.5%;}
.notE{border: 0.0001rem solid rgb(217, 217, 217); width: 83.5%; margin: 5% 0 6.15% 8.25%;}
.callout-info {padding: 2%; color: #808080; font-weight: 300; width: 94.2%;}
.callout-info a{font-weight: 700; padding: 0 0.5% 0 0;}
.more{width: 100%;}
.titleButton{width: 83.5%; margin-left: 8.25%; padding: 0;}
.titleButton h5{display: flex; justify-content: flex-start; padding: 0; font-family: 'Poppins', sans-serif; font-size: 1.5rem;}
.titleButton h6{display: flex; justify-content: flex-end; align-items: center; padding-right: 1%; color: orange; font-family: 'Poppins', sans-serif; font-size: 1rem;}
.divider{border: 01e-7rem solid rgb(217, 217, 217); width: 83%; margin: 0.25% 0 2% 8.25%;}
.productsCarousel{width: 100%; padding: 0; margin-left: 0%;}
.row{width: 100%; margin: 0;}
.folk{width: 85%; margin-left: 7.5%;}
.card{border: unset;}
.card-img-top{border-radius: 0;}
.card-title {font-family: 'Marcellus', serif; font-weight: light;font-size: 1.6rem;}
.card-text {font-family: 'Poppins', sans-serif; font-weight: unset;}
.btn {width: 75%;font-weight: normal;font-family: 'Marcellus', serif;font-size: 0.9rem;border-radius: 0;margin-top: 5%;}
.titleBar{display: flex; justify-content: flex-start;}
.titleBar h2{font-family: 'Marcellus', serif; font-weight:700; font-size: 2.6rem; letter-spacing: 0.1rem;}
.floot{width: 80%;}
.resigns p{font-family: 'Poppins', sans-serif; font-size: 1rem; color: #808080; font-weight: 300;}
.write a{font-family: 'Poppins', sans-serif; font-size: 0.8rem; color: #808080; font-weight: 500; text-decoration: none;}
.floopT{width: 100%;}
.floopT div{width: 100%; display: flex; justify-content: flex-start;}
.floopT div p{width: 90%; font-family: 'Poppins', sans-serif; color: #808080; font-weight: 300;}
.justify-content-start{padding-right: 9%; width: auto; padding-left: 0;}
.list-group{--bs-list-group-border-color: none; --bs-list-group-border-width: none; --bs-list-group-border-radius: none;}
.dropdown-menu{--bs-dropdown-link-hover-bg: #ff8c00}
.dropdown-menu li a:hover{ color: #ffffff;}
.stockNumber{font-family: 'Poppins', sans-serif; display: flex; width: 100%; font-weight: 300; color: #414141;}
.stockNumber h6{font-family: 'Poppins', sans-serif; margin-bottom: 0; margin-right: 2%; color: #414141; font-weight: 500;}
.a{margin-bottom: 1%;}.c{margin: 1% 0 1.75% 0;}.d{margin: 0 0 8.75% 0;}.e{margin: 0 0 5% 0; width: 60%;}.f{margin: 0 0 6% 0; width: 60%;}.h{margin: 2.5% 0 0 0;width: 32.5%;}
.facebook-setph{padding-left: 0; padding-right: 0; width: auto;}
.facebook-setph svg circle{color: #ffffff;}
.instagram-setph{padding-left: 0; padding-right: 0; width: auto;}
.presentation-dropdown, .presentation,.presentation h6, .cuantity, .cuantity h6{width: auto;} 
.presentation-dropdowN{width: auto; padding-right: 0;}
.share{display: flex; align-items: center; padding-left: 0; padding-right: 0; width: auto;}
.footer_container{ top: 402.25%;}
.scrollUp{position: fixed; right: 1%; z-index: 8; bottom: 2%; cursor: pointer; width: 2.25%; height: 5%;}
.scrollUp:hover{background-color: #ff8c00; border: 1px solid #ff8c00; border-radius: 20%;}
.scrollUp path{color: #ff8c00; width: 100%; height: 100%;}
.scrollUp path:hover{ color: #ffffff;}
@media (max-width: 480px) {
    .product-info {justify-content: flex-start;}
    .pr{padding-left: 8.5%;}
    .Container{ top: 0; background-color: #ffffff;}
    .footer_container{ top: 710.25%;}
    .productContainer {top: 40.45%;}
    .scrollUp {width: 9%;}
}