body{background-color: rgb(50, 28, 0);}
.productsContainer{ display: flex; position: absolute; top: 72%; width: 100%; height: 100%; z-index: 1; }
.background{ width: 100%; z-index: 1; }
.background img{ width: 100%; z-index: 1; }
.containeR{ display: flex; flex-direction: row; position: absolute; top: 30%; width: 100%; height: 100%; z-index: 2; } 
.sideBarCrop{ width: 20.25%; height: 100%; margin-left: 5%; padding: 5% 2.5% 5% 0;}
.container{ padding-top: 5%; }
.footer_container{ top: 405%;}