@media(max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background-color: #1e0c00;
    }
    .start_container{ position: static;width: 100%;height: 100%;background-color: brown; }
    .top_image_container{ width: 100%;height: 72.5%; }
    .top_image_container img{ width: 100%;height: 100%; }
    .start_Container{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 165%;
        z-index: 1;
        background: linear-gradient(rgba(1, 1, 1, 0.729), rgba(0, 0, 0, 0.448), rgba(85, 85, 85, 0.078), rgba(99, 99, 99, 0.264), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    }
    .header_top_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 7.04824242%;
    }
    .call_phone_contact,
    .call_phone_contact img,
    .text_rowl_contact,
    .text_rowl_contact h6,
    .text_rowl_contact h5{ width: 0;height: 0; }
    .text_rowl_contact h6,
    .text_rowl_contact h5{ font-size: 0vh; }
    .logo_start{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 16.08154%;
        margin: 0 0 0 22.25%;
    }
    .logo_start img{ width: 100%;height: 80%; }
    .hamburger_tock{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        width: 18%;
        margin: 0 0 0 20.5%;
        border-radius: 17.5%;
        border: 0.9px solid #56565691;       
        box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.822);
    }
    .hamburger_tockActive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 18%;
        margin: 0 0 0 18%;
        border-radius: 17.5%;
        border: 0.9px solid #56565691;        
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.634);
        background-color: rgb(0, 0, 0);
        z-index: 13;
    }
    .bar_tock1{ border: 1.5px solid #e1e1e1e9;width: 60%; }
    .bar_tock2{ border: 1.5px solid #e1e1e1e9;width: 60%; }
    .bar_tock3{ border: 1.5px solid #e1e1e1e9;width: 60%; }
    .activetock1{
        border: 2px solid #e1e1e1e9;
        width: 70%;
        transform: rotate(-45deg) translate(-3px, 3px);
        z-index: 5;
    }
    .activetock2{
        border: 0px solid #e1e1e1e9;
        width: 60%;
        opacity: 0;
        z-index: 5;
    }
    .activetock3{
        border: 2px solid #e1e1e1e9;
        width: 70%;
        transform: rotate(45deg) translate(3px, -3px);
        z-index: 5;
    }
    .divider_one_container{
        border-top: 1.35px solid #cfcfcf57;
        width: 100%;
        height: 1%;
        background-color: #00000028;
    }
    .navigator,
    .cloptt
    .clopt1,
    .clopt2,
    .clopt3,
    .clopt4,
    .nav_container,
    .sotial_container,
    .build_boton,
    .boton_build,
    .fb,.ig,.you,.sea{
        height: 0%;
        width: 0%;
    }
    .navigatorActive{
        position: absolute;
        top: 5%;
        right: 3%;
        width: 94%;
        height: 30%;
        margin: 0 0 0 0;
        box-shadow: 0 0 9px 10px #101010cf;
        border: 1px solid rgb(168, 69, 23);
        z-index: 12;
    }
    .navActive{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .navText{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 100%;
        border: 0.1px solid #aa6216;
        background-color: rgba(111, 57, 24, 0.83);
        margin: 0;
    }
    .navigator nav h5,
    .boton_build{
        font-size: 0vh;
    }
    .title_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        border-top: 1px solid rgba(238, 160, 16, 0.79);
        border-left: 1px solid rgba(238, 160, 16, 0.79);
        border-right: 1px solid rgba(238, 160, 16, 0.79);
        background-color: #908f8f45;
        box-shadow: 0 -21px 8px 12px rgba(0, 0, 0, 0.31);
        margin: 5% 0 0 5%;
    }
    .view_more_products_container{
        display: flex;
        width: 90%;
        border-bottom: 1px solid rgba(238, 160, 16, 0.79);
        border-left: 1px solid rgba(238, 160, 16, 0.79);
        border-right: 1px solid rgba(238, 160, 16, 0.79);
        background-color: #908f8f45;
        box-shadow: 0 21px 8px 12px rgba(0, 0, 0, 0.31);
        margin: 0 0 0 5%;
    }
    .view_more_boton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 250%;
        background-color: orange;
    }
    .carousel_container{display: flex;justify-content: center;align-items: center;width: 100%;height: 5%; }
    .info_certs_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0%;
        grid-row-gap: 0%;
        height: 15%;
        width: 75%;
        border-radius: 2%;
        box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.401);
        background-color: rgba(66, 32, 13, 0.121);
        margin: 7% 0 0 12.5%;
        z-index: 7;
    }
    .info_certs_first{
        grid-area: 1 / 1 / 3 / 3; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90%; 
        width: 90%;
        border-radius: 10% 0 10% 0;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.401);
        background-color: rgba(66, 48, 13, 0.938);
        margin: 5% 5% 5% 5%;
        z-index: 7;
    }
    .info_certs_first img{ height: 37.5%;width: 35%; }
    .info_certs_first p{display: flex;justify-content: center;align-items: center; }
    .info_certs_second{ 
        grid-area: 1 / 3 / 3 / 5; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90%; 
        width: 90%;
        border-radius: 0 10% 0 10%;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.401);
        background-color: rgb(66, 48, 13, 0.938);
        margin: 5% 5% 5% 5%;
        z-index: 7;
    }
    .info_certs_second img{ height: 37.5%;width: 35%; }
    .info_certs_second p{display: flex;justify-content: center;align-items: center; }
    .info_certs_third{ 
        grid-area: 3 / 1 / 5 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 90%; 
        width: 90%;
        border-radius: 0 10% 0 10%;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.401);
        background-color: rgba(66, 48, 13, 0.938);
        margin: 5% 5% 5% 5%;
        z-index: 7;
    }
    .info_certs_third img{ height: 37.5%;width: 30%; }
    .info_certs_third p{
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        width: 50%;
        margin: 0;
    }
    .info_certs_last{ 
        grid-area: 3 / 3 / 5 / 5; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 90%; 
        width: 90%;
        border-radius: 10% 0 10% 0;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.401);
        background-color: rgb(66, 48, 13, 0.938);
        margin: 5% 5% 5% 5%;
        z-index: 7;
    }
    .info_certs_last img{
        width: 35%;
        height: 30%;
    }
    .info_certs_last p{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 30%;
    } 
    .about_Container{
        top: 15%;
        z-index: 0;
    } 
    .about_history_Container{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 20%;
        width: 100%;
    }
    .about_container{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin-top: 20%;
    }
    .subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        height: 5%;
        border-top: 1px solid rgba(255, 132, 0, 0.586);
        border-left: 1px solid rgba(255, 132, 0, 0.586);
        border-right: 1px solid rgba(255, 132, 0, 0.586);
        box-shadow: 0 -4px 9px 1px #00000072;
    }
    .subtitle p{
        font-size: 2.1vh;
        color: #ff9002;
        font-family: 'Poppins', sans-serif;
    }
    .title{
        width: 90%;
        height: 5%;
        margin: 0 0 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(255, 132, 0, 0.586);
        border-right: 1px solid rgba(255, 132, 0, 0.586);
        box-shadow: 0 7px 9px 1px #00000072;
    }
    .title p{
        font-size: 2.75vh;
        font-family: 'Marcellus', serif;
        width: 75%;
    }
    .img_about{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        height: 30%;
    }
    .img_about img{
        width: 80%;
        height: 95%;
        box-shadow: 0 0 11px 4px #0000008a;
    }
    .help_phone{
        position: absolute;
        top: 38.5%;
        width: 60%;
        height: 4.5%;
        left: 20%;
        box-shadow: 0 0 3px 2px #00000060;
        background-color: #ffffff;
    }
    .help_phone h6 {
        font-size: 2vh;
        font-family: 'Marcellus', serif;
        color: #212121;
        letter-spacing: 0.11vh;
        word-spacing: 0.09vh;
        margin: 2.35% 0 0 0;
    }
    .help_phone h4 {
        font-size: 2vh;
        font-family: 'Marcellus', serif;
        color: #ff9002;
        letter-spacing: 0.11vh;
        word-spacing: 0.09vh;
        margin: 2.35% 0 0 0;
    }
    .paragraph_about_container{
        width: 100%;
        margin:  16% 0 0 0;
        height: 100%;
        background-color: #ffffff;
    }
    .paragraph1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 45%;
        margin-left: 5%;
        border-top: 1px solid #535353bf ;
        border-left: 1px solid #535353bf ;
        border-right: 1px solid #535353bf ;
        background-color: #ffffff;
    }
    .paragraph1 p{
        font-size: 2vh;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.12vh;
        word-spacing: 0.09vh;
        color: #808080;
        margin: 0;
        width: 90%;
        height: 80%;
        line-height: 2.3vh;
    }
    .paragraph2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 45%;
        margin-left: 5%;
        background-color: #ffffff;
        border-bottom: 1px solid #535353bf ;
        border-left: 1px solid #535353bf ;
        border-right: 1px solid #535353bf ;
    }
    .paragraph2 ul{
        width: 90%;
        height: 100%;
    }
    .paragraph2 ul li{
        width: 90%;
        height: 100%;
        font-size: 2vh;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.12vh;
        word-spacing: 0.09vh;
        color: #808080;
        margin: 0;
        width: 90%;
    }
    .read_more{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        width: 100%;
        height: 10%;
    }
    .make_your_order_boton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40.5%;
        height: 100%;
        margin: 0;
    }
    .make_your_order_boton a{
        font-size: 2.3vh;
    }
    .for_us_content{
        position: absolute;
        top: 168%;
        width: 100%;
        height: 130%;
    }
    .background_image_Us{
        width: 100%;
        height: 70%;
        z-index: 0;
    }
    .info_us_Container{
        position: absolute;
        top: 10%;
        width: 100%;
        background-color: #ffffff15;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 4.5% 4.5% 4.5% 4.5%;
    }
    .subtitle_us_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 5%;
        margin-left: 7.5%;
    }
    .subtitle_us_container h5 {
        color: #ff9002;
        font-size: 2.4vh;
        word-spacing: 0.3vh;
        letter-spacing: 0.23vh;
        font-family: 'Poppins', sans-serif;
    }
    .title_us_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 12.5%;
    }
    .title_us_container h1{
        word-spacing: 0.09vh;
        letter-spacing: 0.16vh;
        font-size: 2.25vh;
        margin: 1.3% 0 1.3% 0;
    }
    .showerdeslize_forus_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 11%;
        margin-top: 1%;
        z-index: 1;
    }    
    .showerdeslize_forus_container img {
        width: 30%;
        height: 60%;
    }
    .context_info_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 52%;
        margin-top: 1.75%;
        z-index: 1;
        background-color: #b2b2b250;
        border-radius: 6.5%;
        box-shadow: 0 0 5px 4px #00000060;
    }
    .context_info_container p{
        font-size: 1.86vh;
        color: #ffffff;
        margin: 0.5% 0 0.5% 0;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.153vh;
        width: 89%;
    }
    .view_more_boton_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1.75%;
        z-index: 1;
    }
    .view_more_botoncontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff9002;
        width: 45%;
        height: 200%;
        z-index: 1;
        box-shadow: 0 0 5px 4px #00000060;
    }
    .view_more_botoncontainer a {
        color: #ffffff;
        font-size: 2.21vh;
        letter-spacing: 0.22vh;
        text-decoration: none;
    }
    .products_and_gallery_container{
        position: absolute;
        top: 228.5%;
        width: 100%;
        height: 250%;
        background-color: #eb8b1e3c;
    }
    .background_image_products{
        height: 0;
        width: 0;
        visibility: hidden;   
    }
    .background_image_products img{
        height: 0;
        width: 0;
        visibility: hidden;   
    }
    .info_products_andgallery_Content {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 3.5%;
        background-color: #ffffff;
    }
    .gallery_Container_content_from {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 150%;
        position: static;
    }
    .background_image_content_from_products {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .background_image_content_from_products img{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .text_content_products_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    .title_products_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 8.2%;
    }   
    .title_products_content h6 {
        font-family: 'Marcellus', serif;
        height: 45%;
        font-size: 3vh;
        margin: 0;
    }
    .showerdeslize_products_content {
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2% 0 2% 0;
    }
    .showerdeslize_products_content img{
        width: 21.5%;
        height: 70%;
    }
    .top_recipes_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid rgba(226, 150, 43, 0.457);
        height: 100%;
        width: 95%;
        margin: 0 0 0 0;
        align-self: center;
        background-color: #ff90357a;
    } 
    .food_top_recites_one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 45%;
        margin: 0 0 0 0;
        align-self: center;
    }
    .food_top_recites_one  div{
        height: 30.2%;
        width: 100%;
    }
    .food_top_recites_one  div h5{
        margin-top: 0.5%;
        margin-bottom: 0;
    }
    .food_top_recites_one  div p{
        color: #808080;
        font-family: 'Poppins', sans-serif;
        font-size: 2.15vh;
        letter-spacing: 0.03vh;
    }
    .food_top_recites_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 50%;
        margin: 0 0 0 0;
        align-self: center;
    }
    .food_top_recites_two  div{
        height: 30.2%;
        width: 100%;    
    }
    .food_top_recites_two  div h5{
        margin-top: 0.5%;
        margin-bottom: 0;
    }
    .food_top_recites_two  div p{
        color: #808080;
        font-family: 'Poppins', sans-serif;
        font-size: 2.15vh;
        letter-spacing: 0.03vh;
    }
    .view_more_products {
        height: 7%;
        background-color: rgba(255, 255, 255, 0.446);
        width: 90%;
        align-self: center;
    }
    .viewer_boton_products {
        align-self: center;
        justify-self: center;
        width: 55.6871757%;
        height: 37.5%;
        background-color: #ff9002;
    }
    .viewer_boton_products a {
        color: #ffffff;
        font-size: 2.4vh;
        letter-spacing: 0.22vh;
        text-decoration: none;
    }
    .gallery_Container{
        display: flex;
        flex-direction: column;
        background-color: #c063164a;
        width: 100%;
        margin-left: 0;
    }
    .title_info_gallery h2 {
        display: flex;
        justify-content: center;
        font-family: 'Marcellus', serif;
        font-size: 4vh;
        margin: 0.5% 0 0 ;
        width: 100%;
        height: 50%;
        letter-spacing: 0.25vh;
        color: #ffffff;
    }
    .text_info_gallery p {
        font-family: 'Poppins', sans-serif;
        color: #808080;
        font-size: 2.6vh;
        margin: 0;
    }
    .first_gallery_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;            
    }
    .second_gallery_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;                
    }
    .third_gallery_container{
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden; 
        width: 0%;                
        height: 0%;
        background-color: #341805;            
    }
    .fourth_gallery_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;                
        height: 0%;
        background-color: #341805; 
        visibility: hidden;           
    }
    .fiveth_gallery_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;                
        background-color: #341805;            
    }
    .first_gallery_container img{
        width: 100%;
    }
    .second_gallery_container img{
        width: 90%;
    }
    .third_gallery_container img{
        width: 0%;                
        height: 0%;
        visibility: hidden; 
    }
    .fourth_gallery_container img{
        width: 0%;                
        height: 0%;
        visibility: hidden;           
    }
    .fiveth_gallery_container img{
        width: 90%;
    }
    .testimones_from_Content{
        position: absolute;
        top: 600%;
        width: 100%;
        height: 130%;
    }
    .background_img_testimones {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 55%;
        z-index: 0;
        border-radius: 3%;
        background-color: rgba(9, 3, 0, 0.73);
    }
    .background_img_testimones img{
        width: 100%;
        height: 100%;
    }
    .info_testimones_Container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #d5670035;
        top: 0;
        margin: 5% 0 0 2.5%;
        border-radius: 1%;
        width: 95%;
        height: 88.75%;
        z-index: 1;
    }
    .subtitle_testimones_container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        height: 2.5%;
        margin-bottom: 1.195%;
    }
    .subtitle_testimones_container h5 {
        color: #ff9002;
        font-size: 2.5vh;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        letter-spacing: 0.29vh;
        word-spacing: 0.12em;
    }
    .title_testimones_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 6%;
    }    
    .title_testimones_container h4 {
        font-size: 2.2vh;
        font-family: 'Marcellus', serif;
        color: #ffffff;
        letter-spacing: 0.7vh;
        word-spacing: 0.09vh;
        margin: 0;
        width: 77.5%;
        height: 100%;
    }
    .showerdeslize_testimones_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        height: 3%;
        width: 100%;
    }
    .showerdeslize_testimones_container img {
        height: 100%;
        width: 24.82134915%;
    }
    .bould_testimones_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 90%;
        height: 76.75%;
        margin-top: 6.25%;
    }
    .paragraph {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        width: 95%;
        margin: 0 0 0 2.5%;
        border-radius: 2.5%;
        border: 0.85px solid #ff5b02ad;
        background-color: #ffffff42;
        box-shadow: 0 2px 5px 7px rgba(0, 0, 0, 0.401);
    }
    .paragraph img {
        align-self: center;
        justify-self: center;
        width: 17.9766119%;
        height: 15.6440863%;
    }
    .paragraph p {
        font-size: 2vh;
        font-family: 'Marcellus', serif;
        letter-spacing: 0.1vh;
        word-spacing: 0.09vh;
        color: #ffffff;
        width: 95%;
        height: 44.5758738%;
        margin: 4.5% 0 1.5% 0;
    }
    .paragraph h4 {
        font-size: 2.2vh;
        font-family: 'Marcellus', serif;
        letter-spacing: 0.35vh;
        word-spacing: 0.09vh;
        width: 40%;
        height: 5%;
        color: #ff9002;
        margin: 5.5% 0 1.5% 0;
    }
    .paragraph h5 {
        font-size: 2.1vh;
        font-family: 'Marcellus', serif;
        letter-spacing: 0.35vh;
        word-spacing: 0.09vh;
        width: 30%;
        height: 5%;
        color: #ffffff;
        margin: 1.75% 0 1.5% 0;
    }
    .imgchef_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 95%; 
        margin-left: 2.5%;
        margin-bottom: 6%;
    }
    .imgchef_container img{
        width: 100%;
    }
    .carousel_testimones_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5%;
    }    
    .carousel_testimones_container p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7.85vh;
        height: 100%;
        color: #ff9002;
    }
    .more_about{    
        position: absolute;
        margin-top: 1755%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .background_image_more_about {
        width: 100%;
        height: 140%;
        z-index: 1;
    }
    .incontext_about_Container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5%;
        margin-left: 2.5%;
        width: 95%;
        height: 112.5%;
        z-index: 2;
        background-color: #ffffff;
    }
    .contact_about_Container {
        height: 230%;
        width: 100%;
        margin-right: 0%;
        margin-top: 5%;
        box-shadow: 4px 0 18px 2.85px #2c2c2c7e;
    }
    .background_self_conntact {
        display: flex;
        justify-content: flex-end;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .flow_contact {
        position: absolute;
        top: 0;
        height: 80%;
        width: 100%;
    }
    .subtitle_about_container h6 {
        color: #ff9002;
        font-size: 2.52vh;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.22vh;
        word-spacing: 0.05em;
        margin: 0 0 0 18.5%;
    }
    .title_about_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5.25%;
        margin-bottom: 1.195%;
    }
    .title_about_container h5 {
        color: #000000;
        font-size: 3.1vh;
        font-family: 'Marcellus', serif;
        letter-spacing: 0.05vh;
        margin: 0 0 0 0%;
    }
    .showerdeslize_about_container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.43274854%;
        width: 100%;
        margin: 10.75% 0 4.5% 0;
    }
    .showerdeslize_about_container img { height: 100%; width: 21.5075968%; margin-left: 0%; }
    .images_background {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 35%;
        width: 80%;
        margin-left: 10%;
    }
    .footer_container{
        margin-top: 2000%;
    }
}